<div>

</div>

<table style="border: solid 1px gray">
        {% for tr in data %}
                <tr>

                  <td>{{  tr.getNameVendor() }}</td>
                  <td>{{  tr.Site() }}</td>
                  <td>{{  tr.Type() }}</td>

                </tr>
        {% endfor %}

</table>